<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moodapp">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mood Control"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BarChartActivity"></activity>
        <activity android:name=".ViewAllResultsActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <activity android:name=".test_me_activities.HeartRateActivity" />
        <activity
            android:name=".test_me_activities.faceMoodActivity.FaceMoodActivity"
            android:label="@string/title_activity_face_recognition" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".SetNotificationsActivity" />
        <activity android:name=".MyMoodActivity" />
        <activity android:name=".TestMeActivity" />
        <activity android:name=".test_me_activities.KeyoboardSpeedActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notifications.AlertReceiver"/>
    </application>

</manifest>